<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zy.nav.test">

    <application android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="zy.nav.route.TestNavActivity1" />
        <activity android:name="zy.nav.route.TestNavActivity2">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="nav"
                    android:host="test"
                    android:path="/activity/2" />
            </intent-filter>
        </activity>
    </application>

</manifest>
